ul.module-list {
  counter-reset: item;
  list-style: none;
  padding-left: 70px;
  margin-top: 0;
}

ul.module-list li {
  counter-increment: item;
  position: relative;
  margin-top: 10px;
}

ul.module-list li::before {
  font-family: notoSans_bold;
  font-size: 14px;
  color: #444444;
  content: '\27A5';
  text-align: right;

  position: absolute;
  left: -60px;
  width: 50px;
  height: 14px;
}


.gallery {
  display:inline-block;
  height: auto;
  width: 100%;
}

.notes {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.notes p {
  font-size: 10pt;
  padding-left: 0;
  bottom:10px;
}

.music-box {
  margin: 10px;
  border: 1px solid #CCCCCC;
  float: left;
  height: 200px;
  max-width: 700px;
}

.thumbnail {
  width: 200px;
  height: 100%;
  float:left;
}

.thumbnail img {
  width: auto;
  height: 100%;
  float:left;
}

.player {
  height:100%;
  margin-left:200px;
  padding-left: 20px;
  text-align: left;
  vertical-align: top;
}

.player h4 {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 16pt;
}

.player p {
  padding-left: 0;
  padding-right: 20px;
  margin-bottom: 0px;
}

.player audio {
  padding-top: 5px;
  padding-bottom: 5px;
}


@media screen and (max-width: 1000px) {
  .music-box {
    width: 100%;
    margin: 5px;
    border: 1px solid #CCCCCC;
    float: left;
    height: auto;

  }

  .thumbnail {
    width: 100%;
    height: auto;
  }

  .thumbnail img {
    width: 100%;
    height: auto;
  }

  .player {
    height:100%;
    margin-left: 0px;
    padding-left: 20px;
    text-align: left;
    vertical-align: top;
  }

  .player h4 {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 16pt;
  }
}